CREATE DATABASE [prm]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'prm', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\prm.mdf' , SIZE = 5120KB , FILEGROWTH = 10%)
 LOG ON 
( NAME = N'prm_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\prm_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [prm]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [prm] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
