/* Body */
Body{
	min-height:500px;
}
#BodyPlaceHolder{
	position: absolute;
	top:60px;
	bottom:50px;
	width:100%;
	display:flex;
	min-height:390px;
}
.control-group {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 2px solid #aaaaaa;
}
#div2 {
  width: 350px;
  height: 70px;
  
  padding: 10px;
  border: 1px solid #aaaaaa;
}
.container {
  position: absolute;
  top: 50px;
  width: 100%;
}
.content{
  width:100%;
  overflow-y: auto;
  margin:10px;
  margin-top: 17px;
}
#ImagesHidden{
	display:none;
}
#mask{
	width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    display: none;
}
#titlePag{
    font-size: 44px;
    margin-top: 0px;
	display: inline-block;
	vertical-align: top;
}
/* Header */
h1{
	margin-top: 0px;
}
#HeaderPlaceHolder{
	height:60px;
	display:block;
	background-color: #2F4350;
	width: 100%;
	z-index: 10;
	position:fixed;
}
.NavItem{
	display: inline-block;
  	vertical-align: top;
}
#NavMenuButton
{
	display: block;
  vertical-align: middle;
  border-width: 0;
  margin: 0;
  padding: 0;
  min-width: 50px;
  height: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  line-height: normal;
  overflow: visible;
  cursor: pointer;
  outline-offset: -1px;
  background-color:#005C8A;
}
#NavRight{
	position:absolute;
  	right:0px;
}
#NavLeft{
	text-align: left;
	height: 100%;
	padding: 5px;
}
#NavCenter{
	text-align: center;
	height: 100%;
	padding:3px;
}



/* Footer */
#FooterPlaceHolder{
	height:50px;
	display:block;
	background-color: #2F4350;
	width: 100%;
	z-index: 10;
	bottom:0;
	position:fixed;
}
/* Inputs */
input{
	color:black;
}
/* Buttons */
.BlueButton{
  background-color: #005C8A;
  color: white;
  font-weight: bold;
  padding-left: 4;
  border-radius: 6px;
}
/* Menu */
#NavMenuButton{
  font-size:20px;
}
#login
{
	height: 100%;
  color: white;
  padding: 10px;
}
.sidebar {
  width: 200px;
  position: relative;
  left: 0;
  background-color: #A7D7EE;
  transition: all .25s;
  overflow-y: auto;
  padding: 10px;
}
.sidebar.collapsed {
  left: -200px;
  margin-right: -200px;
}
/* datatables */
div.dataTables_wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: #F5F5F5;
  padding: 10px;
}

/* Modal*/

.modal-footer, .modal-body {
    display: flow-root;
}
/* forms */
.form-group {
    margin-bottom: 2px!important;
}
.form-group label.control-label {
    font-size: 11px !important;
    font-weight: normal;
    text-align: left!important;
    /*line-height: 1.2em;*/
    padding: 3px 0 3px 4px;
}
.form-group-sm input.form-control,.form-group-sm select.form-control,.form-group-sm select.form-control{
    /*border: solid 1px #ccc;*/
    border-radius: 2px !important;
    font-size: 12px;
    padding: 1px 10px;
    height: 24px!important;
    line-height:24px!important;
}
.form-group .form-control {
    border-radius: 2px;
}
a {
	cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: black;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#sidebar {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.button {
    background-color: #005C8A;/*#4CAF50;  Green */
    border-radius: 8px;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.buttonImg {
    background-color: #005C8A;/*#4CAF50;  Green */
    border-radius: 8px;
    border: none;
    color: white;
    padding: 8px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.buttonTable {
    background-color: #005C8A;/*#4CAF50;  Green */
    border-radius: 8px;
    border: none;
    color: white;
    padding: 2px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.buttonHeader {
    background-color: #005C8A;/*#4CAF50;  Green */
    border-radius: 8px;
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button2:hover {
	border-radius: 8px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button3:hover {
	border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.4),1px 1px 1px 1px rgba(0,0,0,0.3);
}

/*Cursor*/
.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
} 

button.btnCollapse{
	display: inline-block;
	background-color: transparent;
    /*padding: 4px 12px;*/
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
/*button.btnCollapse.collapsed:before
{
    content:'+' ;
	display:block;
}
button.btnCollapse:before
{
    content:'-' ;
	display:block;
}*/
.title{
	font-family: 'Lato', sans-serif;;
	color: white;
}
@font-face {
    font-family: 'PrmTitle'; /*a name to be used later*/
    src: url('font-awesome-4.7.0/fonts/dekarangercond.ttf'); /*URL to font*/
}

a.accordion {
    color: #444;
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
}

a.accordion.active, a.accordion:hover {
    background-color: #eee; 
}

div.panel-accordion {
    padding: 0 18px;
    background-color: white;
	max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.style-input{
	border-radius: 6px;
}

.error{
	border:1px solid red;
}

/*Table*/
#detailBody td{
	vertical-align:middle;
	text-align:center;
}
td.details-control {
    /*background: url('../img/plus.png') no-repeat center center;*/
    cursor: pointer;
}
/*tr.shown td.details-control {
    background: url('../img/minus.png') no-repeat center center;
}*/

.chart-container {
  position: relative;
  margin: auto;
  height: 450px;
  max-width: 450px;
}

.chart-container-compare {
  position: relative;
  margin: auto;
  height: 450px;
  max-width: 450px;
}

.panel-heading{
	display: inline-block;
    width: 100%;
}
.style-color-Passed{
	color: #059BFF;
}
.style-color-Failed{
	color: #FF6384;
}
.style-color-Pending{
	color: #4BC0C0;
}